/* Empty. Add your own CSS if you like */

/* helpers */

.mls {
  margin-left: 3px !important;
}

.mrm {
  margin-right: 5px !important;
}

.mrs {
  margin-right: 3px !important;
}

.ptn {
  padding-top: 0;
}

.pam {
  padding: 20px !important;
}

.mtn {
  margin-top: 0;
}

.pbn {
  padding-bottom: 0 !important;
}

.mbn {
  margin-bottom: 0 !important;
}